.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.cabecalho__pesquisar__item {
    display: none;
}



@media screen and (min-width: 834px) {
    .cabecalho__pesquisar__item {
        display: block;
    }
    
    .rodape__container {
        display: flex;
        flex-flow: column wrap;
    }
}